
<form name="userform" novalidate class="form-horizontal user-collecting-form">
    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.name) }">
        <label class="col-md-4 control-label" for="name">Nombre:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.name" id="name" name="name" type="text" placeholder="Nombre" class="form-control input" required="">
            <!--<p ng-show="validateField(userform.name)" class="help-block">Tu nombre es requerido.</p>-->
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.email) }">
        <label class="col-md-4 control-label" for="email">Correo Electrónico:</label>  
        <div class="col-md-4">  
            <input ng-model="userCollected.email" id="email" name="email" type="email" placeholder="Correo Electrónico" class="form-control input-md" required="">            
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.company) }">
        <label class="col-md-4 control-label" for="company">Empresa:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.company" id="company" name="company" type="text" placeholder="Empresa" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Select Basic -->
<!--    <div class="form-group">
        <label class="col-md-4 control-label" for="business_type">Tipo:</label>
        <div class="col-md-4">
            <select ng-model="userCollected.business_type" id="business_type" name="business_type" class="form-control" required="">
                <option value="">Tipo</option>
                <option value="1">Mayorista</option>
                <option value="2">Minorista</option>
            </select>
        </div>
    </div>-->

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.phone) }">
        <label class="col-md-4 control-label" for="phone">Número Fijo:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.phone" id="phone" name="phone" type="text" placeholder="Número Fijo" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.celphone) }">
        <label class="col-md-4 control-label" for="celphone">Número Celular:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.celphone" id="celphone" name="celphone" type="text" placeholder="Número Celular" class="form-control input-md" required="">
        </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.region) }">
        <label class="col-md-4 control-label" for="region">Departamento:</label>
        <div class="col-md-4">
            <select id="region" name="region" class="form-control"  
                    ng-model="userCollected.region" 
                    ng-options="r.id as r.name for r in regions" 
                    ng-change="getCities(userCollected.region)"
                    required>
                <!--<option value="">Departamento</option>-->
            </select>
        </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.city) }">
        <label class="col-md-4 control-label" for="city">Ciudad:</label>
        <div class="col-md-4">
            <select id="city" name="city" class="form-control"
                    ng-model="userCollected.city" 
                    ng-options="c.id as c.name for c in cities" 
                    key="id">
                <!--<option value="">Ciudad</option>-->
            </select>
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.address) }">
        <label class="col-md-4 control-label" for="address">Dirección:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.address" id="address" name="address" type="text" placeholder="Dirección" class="form-control input-md">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.whatsapp) }">
        <label class="col-md-4 control-label" for="whatsapp">Whatsapp:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.whatsapp" id="whatsapp" name="whatsapp" type="text" placeholder="Whatsapp" class="form-control input-md">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group" ng-class="{ 'has-error' : validateField(userform.bbm) }">
        <label class="col-md-4 control-label" for="bbm">BBM:</label>  
        <div class="col-md-4">
            <input ng-model="userCollected.bbm" id="bbm" name="bbm" type="text" placeholder="BBM" class="form-control input-md">
        </div>
    </div>

    <!-- Multiple Checkboxes -->
<!--    <div class="form-group">
        <label class="col-md-4 control-label" for="sector">Sector:</label>
        <div class="col-md-4">
            <div class="checkbox">
                <label for="sector-0">
                    <input type="checkbox" name="sector" id="sector-0" value="1">
                    Telefonos Nuevos
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-1">
                    <input type="checkbox" name="sector" id="sector-1" value="2">
                    Telefonos Usados
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-2">
                    <input type="checkbox" name="sector" id="sector-2" value="3">
                    Accesorios
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-3">
                    <input type="checkbox" name="sector" id="sector-3" value="4">
                    Servicio Técnico
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-4">
                    <input type="checkbox" name="sector" id="sector-4" value="5">
                    Software
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-5">
                    <input type="checkbox" name="sector" id="sector-5" value="6">
                    SIM Cards
                </label>
            </div>
            <div class="checkbox">
                <label for="sector-6">
                    <input type="checkbox" name="sector" id="sector-6" value="7">
                    Otros
                </label>
            </div>
        </div>
    </div>-->

    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="send"></label>
        <div class="col-md-8">
            <button id="send" name="send" class="btn btn-success" ng-click="save(userform)" ng-disabled="userform.$invalid">Envíar</button>
            <button id="cancel" name="cancel" class="btn btn-danger" ng-click="clear(userform)" ng-disabled="userform.$pristine">Reiniciar</button>
        </div>
    </div>

</form>

<style type="text/css">
/*    .user-collecting-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .user-collecting-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }*/
</style>
