<div class="jumbotron">
    <h1>Gracias!</h1>
    <p class="lead">
        Estaremos en contacto!
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Volver <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

